@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg,#9606ba,#4291db )
}

nav{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(250, 97, 154,0.9);
    font-family: "Ubuntu", sans-serif;
}

.logo{
    font-size: 24px;
    letter-spacing: 4px;
    margin: 30px;
}

.nav-links{
    height: 100%;
}

.nav-links li{
    list-style: none;
}

.nav-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li a{
    display: block;
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    padding: 2rem;
}

.nav-links li:hover{
    background-color: #020b69;
}

.nav-links li a:hover{
    color: rgb(250, 97, 154);
}

.toggle-button{
    position: absolute;
    top: auto;
    right: 1.2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 40px;
}

@media (max-width: 800px){
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button{
        display: flex;
        margin-top: 34px;
    }
    .nav-links{
        background-color: black;
        display: none;
        width: 100%;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;
    }

    .nav-links ul li{
        text-align: center;
    }
    .nav-links ul li a{
        color: rgb(250, 97, 154);
        padding: .5rem 1rem
    }

    .nav-links.active{
        display: flex;
    }
}

.typewriter{
    display: flex;
    overflow: hidden;
    font-size: 40px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    margin: 100px 30px;
    letter-spacing: 0.1rem;
}

