@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-color: black;
    height: 100%;
}

nav{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color:black;
    font-family: "Ubuntu", sans-serif;
}

.mainPart{
    padding-top: 8vh;
    z-index:1;
}

.logo{
    font-size: 24px;
    letter-spacing: 4px;
    margin: 30px;
    color: #09dba7;
}

.nav-links{
    height: 100%;
}

.nav-links li{
    list-style: none;
}

.nav-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li a{
    display: block;
    color: #09dba7;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    padding: 2rem;
}

.nav-links li a:hover{
    color:#e94560;
}

.toggle-button{
    position: absolute;
    top: auto;
    right: 1.2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #09dba7;
    border-radius: 40px;
}

@media (max-width: 800px){
    nav{
        flex-direction: column;
        align-items: flex-start;
        z-index: 9999;
    }
    .toggle-button{
        display: flex;
        margin-top: 34px;
    }
    .nav-links{
        background-color: #454747;
        display: none;
        width: 100%;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;
    }

    .nav-links ul li{
        text-align: center;
    }
    .nav-links ul li a{
        color: #09dba7;
        padding: .5rem 1rem
    }

    .nav-links.active{
        display: flex;
    }
}

.skillPage{
    background-color: #04123d;
    border-top: none;
    border-width:10px;
    border-style: solid;
    border-image: linear-gradient(90deg,#008383,#011930) 1;
    height: auto;
    padding-bottom:50px;
}

.skillContent{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.aboutSkills{
    margin-top: 40px;
    display: flex;
}

.progressBars{
    background-color: black;
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
    margin-right: 30px;
    max-width: 850px;
    min-width: 800px;
    list-style: none;
    flex-direction: column;
    border-width: 3px;
    border-style: solid;
    border-image-source:linear-gradient(90deg,#008383,#03568d) 1;
    border-image-slice: 1;
}

.progressBars li{
    margin: 20px 0px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.progress{
    background: black;
    display:block;
    height: 12px;
    width: 750px;
    border: 3px black solid;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px black;
}

.progress span{
    height: 12px;
    float: left;
    background : #09dba7;
}

.htmlprogress{
    width: 70%;
    animation: htmlbar 2s;
}

.cssprogress{
    width: 45%;
    animation: cssbar 2s;
}

.jsprogress{
    width: 20%;
    animation: jsbar 2s;
}

@keyframes htmlbar{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes cssbar{
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}

@keyframes jsbar{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}

.projectPage{
    background-color: #04123d;
    border-top-style: none;
    border-width:10px;
    border-style: solid;
    border-image: linear-gradient(90deg,#008383,#03568d) 1;
}

#projectPage{
    height:auto;
    padding-bottom: 50px;
}

#skillPage{
    height:auto;
    padding-bottom: 50px;
}

.projectDiv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    align-items: center;
}

.projectDiv img:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px white;
}

.projectDiv img{
    display: block;
    width: 350px;
    height: 200px;
    border: 2px #09dba7 solid;
    border-radius: 15px;
}

.projectstuff{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 30px;
}

.homePage{
    margin-top:10px;
    border-bottom-width: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 800px;
    background-color: #04123d;
    border-image: linear-gradient(90deg,#008383,#03568d) 1;
    border-width: 10px;
    border-style: solid;
}

.homePage h2{
    margin-top: 50px;
    font-size: 60px;
    font-family: Ubuntu, sans-serif;
    color:#c5c9c9;
    margin-left: 30px;
}

.typewriter{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 40px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    margin: 30px;
    letter-spacing: 0.1rem;
    color: #c5c9c9;
}

.profile{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bolder;
    font-family: Poppins, sans-serif;
    color: #c5c9c9;
    height: 600px;
    background-color: #04123d;
    border-top-style: none;
    border-width:10px;
    border-style: solid;
    border-image: linear-gradient(90deg,#008383,#03568d) 1;
}

.profileContent{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile h2{
    color:#c5c9c9;
    font-size: 60px;
    font-family: Ubuntu,sans-serif;
    margin-left: 30px;
}
/* add animation */
.profile ul li a{
    text-decoration: none;
    color: #c5c9c9;
}

.profile ul li a:hover{
    color:#09dba7;
}

#details{
    padding: 30px;
    list-style: none;
}

#profilepic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid #c5c9c9;
    margin: 50px 30px;
}

@media (max-width: 800px)
{
    .homePage{
        flex-direction: column;
        align-items: center;
    }

    .homePage h2{
        margin-left: 0px;
    }

    .typewriter{
        text-align: center;
    }
    .profile{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .profile h2{
        margin-left: 0px;
    }

    .profilepicdiv{
        margin-top: 0px;
        height: 250px;
        width:250px;
    }

    .profileContent{
        flex-direction: column;
    }

    #profilepic{
        position: relative;
        padding-top: 0px;
    }
}

@media (max-width: 1200px)
{
    .skillContent{
        flex-direction: column;
    }
}

