@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-image: linear-gradient(90deg,#9606ba,#4291db );
    height: 100%;
}

.full-height{
    height: 100%;
}

nav{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(250, 97, 154);
    font-family: "Ubuntu", sans-serif;
}

.mainPart{
    padding-top: 8vh;
    z-index:1;
}

.logo{
    font-size: 24px;
    letter-spacing: 4px;
    margin: 30px;
}

.nav-links{
    height: 100%;
}

.nav-links li{
    list-style: none;
}

.nav-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li a{
    display: block;
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    padding: 2rem;
}

.nav-links li:hover{
    background-color: #020b69;
}

.nav-links li a:hover{
    color: rgb(250, 97, 154);
}

.toggle-button{
    position: absolute;
    top: auto;
    right: 1.2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 40px;
}

@media (max-width: 800px){
    nav{
        flex-direction: column;
        align-items: flex-start;
        z-index: 9999;
    }
    .toggle-button{
        display: flex;
        margin-top: 34px;
    }
    .nav-links{
        background-color: black;
        display: none;
        width: 100%;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;
    }

    .nav-links ul li{
        text-align: center;
    }
    .nav-links ul li a{
        color: rgb(250, 97, 154);
        padding: .5rem 1rem
    }

    .nav-links.active{
        display: flex;
    }
}

.skillPage{
    border-bottom: 2px black solid;
}

.projectPage{
    border-bottom: 2px black solid;
}

.homePage{
    display: flex;
    margin-top: 8vh;
    border-bottom: 2px black solid;
    align-items: flex-start;
    flex-direction: column;
}

.homePage h2{
    font-size: 60px;
    font-family: Ubuntu, sans-serif;
    color: white;
    margin-left: 30px;
}

.typewriter{
    display: flex;
    overflow: hidden;
    font-size: 40px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    margin: 30px;
    letter-spacing: 0.1rem;
}

.profile{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bolder;
    font-family: Poppins, sans-serif;
    color: black;
}

.profileContent{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile h2{
    color:white;
    font-size: 60px;
    font-family: Ubuntu,sans-serif;
    margin-left: 30px;
}
/* add animation */
.profile ul li a{
    text-decoration: none;
    color: black;
}

.profile ul li a:hover{
    color: white;
}

#details{
    padding: 30px;
    list-style: none;
}

#profilepic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid #ffffff;
    margin: 50px 30px;
}

@media (max-width: 800px)
{
    .homePage{
        flex-direction: column;
        align-items: center;
    }

    .homePage h2{
        margin-left: 0px;
    }

    .typewriter{
        text-align: center;
    }
    .profile{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .profile h2{
        margin-left: 0px;
    }

    .profilepicdiv{
        margin-top: 0px;
        height: 250px;
        width:250px;
    }

    .profileContent{
        flex-direction: column;
    }

    #profilepic{
        position: relative;
        padding-top: 0px;
    }
}

